@CHARSET "UTF-8";
*{

	padding:0px;
	margin:0px;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	background-color: #99CCCC;
}

.center .v_center label{
	display:inline-block;
	width:100px;
}
.center .v_center .text{
	display:inline-block;
	height:30px;
	width:200px;
	color:#FF6666;
	font-size: 1.3em;
}

.center .v_center{
	width:310px;
	margin: auto;
	margin-top:30px;
}